
<fa-app ng-controller="HomeCtrl">
  <fa-scroll-view id="home" fa-pipe-from="eventHandler" fa-options="options.scrollViewTwo" fa-start-index="1">
    <!-- this is the Spotlight View         -->
    <fa-view fa-index="0" fa-options="options.scrollViewOne">
      <fa-surface fa-pipe-to="eventHandler">
        <fa-app onScroll="scrolling()">
          <fa-view>
            <fa-modifier fa-size="[getPageWidth(), getPageHeight()]">
              <fa-header-footer-layout fa-options="{headerSize: 50, footerSize: 50}">
                <!-- header-->
                <fa-modifier fa-translate="boxTransitionableHeader.get()" fa-opacity="opacityTrans">
                  <fa-surface fa-background-color="'black'" class="absolute">Header</fa-surface>
                </fa-modifier>
                <!-- content-->
                <fa-surface fa-background-color="'gray'"> 
                  <fa-app ng-controller="HomeCtrl">
                    <fa-scroll-view id="main-scrollview" fa-pipe-from="myEventHandler" fa-options="options.container">
                      <fa-view fa-size="[getPageWidth(), mainScrollHeight]">
                        <fa-modifier ng-repeat="post in posts track by $index">
                          <fa-surface ng-if="post.image_url" fa-size="[getPageWidth(), 300]" class="relative-image">
                            <div ng-style="{'background-image':'url({{post.image_url}})', 'height': '285px',  'width': '{{getPageWidth()}}', 'background-size': 'contain', 'background-repeat': 'no-repeat', 'background-position': 'center'}" fa-pipe-to="myEventHandler" class="image"></div>
                          </fa-surface>
                          <fa-surface ng-if="post.text" fa-background-color="white" fa-size="[getPageWidth(), 190]" class="relative-text">
                            <div fa-pipe-to="myEventHandler" class="content"> 
                              <div class="open-quote"></div>
                              <div class="content-text"><strong> {{post.text}} </strong></div>
                              <div class="close-quote"></div>
                              <div class="content-date">{{post.created_at | dateToISO | date: 'h:mma'}}</div>
                              <div class="content-social">
                                <div class="comments">Comments {{post.comments}}</div>
                                <div class="likes">{{post.likes}}<span class="heart"></span></div>
                              </div>
                            </div>
                          </fa-surface>
                        </fa-modifier>
                      </fa-view>
                    </fa-scroll-view>
                  </fa-app>
                </fa-surface>
                <!-- footer-->
                <fa-modifier fa-translate="boxTransitionableFooter.get()" fa-opacity="opacityTrans" fa-size="[50,50]">
                  <fa-image-surface fa-image-url="img/menu-ellipses-icon.png" ng-click="switchPage(1)" class="menu-icon"></fa-image-surface>
                </fa-modifier>
              </fa-header-footer-layout>
            </fa-modifier>
          </fa-view>
        </fa-app>
      </fa-surface>
    </fa-view>
    <!-- this is the Main Archive View-->
    <fa-view fa-index="1">
      <fa-modifier fa-size="[getPageWidth(), getPageHeight()]">
        <fa-surface fa-pipe-to="eventHandler">
          <fa-app>
            <fa-view>
              <fa-modifier fa-size="[getPageWidth(), getPageHeight()]">
                <fa-header-footer-layout fa-options="{headerSize: 50, footerSize: 50}">
                  <!-- header-->
                  <fa-modifier fa-translate="boxTransitionableHeader2.get()" fa-opacity="opacityTrans2">
                    <fa-surface fa-background-color="'black'" class="absolute"></fa-surface>
                  </fa-modifier>
                  <!-- content-->
                  <fa-surface fa-background-color="'white'">
                    <fa-app ng-controller="HomeCtrl">
                      <fa-scroll-view id="archive-scrollview" fa-pipe-from="archiveScrollEventHandler" fa-options="options.container">
                        <fa-view ng-repeat="archive in archivedDays" fa-size="[getPageWidth(), archiveScrollHeight]">
                          <fa-modifier fa-size="[getPageWidth(), 100]">
                            <fa-surface fa-background-color="archive.color" fa-pipe-to="archiveScrollEventHandler" class="archive-item">
                              <div ng-click="goToArchivedDay(archive.id)" class="user-name">{{archive.name}}</div>
                              <div ng-click="goToArchivedDay(archive.id)" ng-if="archive.date" class="date">{{archive.date | dateToISO | date: 'longDate'}}</div>
                            </fa-surface>
                          </fa-modifier>
                        </fa-view>
                      </fa-scroll-view>
                    </fa-app>
                  </fa-surface>
                  <!-- footer-->
                  <fa-modifier fa-translate="boxTransitionableFooter2.get()" fa-opacity="opacityTrans2" fa-size="[50,50]">
                    <fa-image-surface fa-image-url="img/spotlight-icon-small.png" ng-click="switchPage(0)" class="spotlight-icon">                </fa-image-surface>
                  </fa-modifier>
                </fa-header-footer-layout>
              </fa-modifier>
            </fa-view>
          </fa-app>
        </fa-surface>
      </fa-modifier>
    </fa-view>
    <!--this is the Show Archived Day View-->
    <fa-view fa-index="2" fa-options="options.scrollViewOne">
      <fa-modifier fa-size="[getPageWidth(), getPageHeight()]">
        <fa-surface fa-pipe-to="eventHandler">
          <fa-app>
            <fa-view>
              <fa-modifier fa-size="[getPageWidth(), getPageHeight()]">
                <fa-header-footer-layout fa-options="{headerSize: 50, footersize: 50}">
                  <!--header-->
                  <fa-modifier fa-translate="boxTransitionableHeader3.get()" fa-opacity="opacityTrans3">
                    <fa-surface fa-background-color="'black'" class="absolute"></fa-surface>
                  </fa-modifier>
                  <!--content-->
                  <fa-surface fa-background-color="'gray'"> 
                    <fa-app ng-controller="HomeCtrl">
                      <fa-scroll-view id="day-scrollview" fa-pipe-from="dayScrollEventHandler" fa-options="options.container">
                        <fa-view fa-size="[getPageWidth(), dayScrollHeight]">
                          <fa-modifier ng-repeat="post in archivedDayPosts track by $index" class="top-border">
                            <fa-surface ng-if="post.image_url" fa-size="[getPageWidth(), 300]" class="relative-image">
                              <div ng-style="{'background-image':'url({{post.image_url}})', 'height': '285px',  'width': '{{getPageWidth()}}', 'background-size': 'contain', 'background-repeat': 'no-repeat', 'background-position': 'center'}" fa-pipe-to="dayScrollEventHandler" class="image"></div>
                            </fa-surface>
                            <fa-surface ng-if="post.text" fa-background-color="white" fa-size="[getPageWidth(), 190]" class="relative-text">
                              <div fa-pipe-to="dayScrollEventHandler" class="content">
                                <div class="open-quote"></div>
                                <div class="content-text"><strong> {{post.text}} </strong></div>
                                <div class="close-quote"></div>
                                <div class="content-date">-{{post.created_at | dateToISO | date: 'h:mma'}} </div>
                                <div class="content-social">
                                  <div class="comments">Comments {{post.comments}}</div>
                                  <div class="likes">{{post.likes}}<span class="heart"></span></div>
                                </div>
                              </div>
                            </fa-surface>
                          </fa-modifier>
                        </fa-view>
                      </fa-scroll-view>
                    </fa-app>
                  </fa-surface>
                  <!--footer-->
                  <fa-container-surface>
                    <fa-modifier fa-translate="boxTransitionableFooter3.get()" fa-opacity="opacityTrans3" fa-size="[50,50]">
                      <fa-image-surface fa-image-url="img/menu-ellipses-icon.png" ng-click="switchPage(1)" class="spotlight-icon2"></fa-image-surface>
                    </fa-modifier>
                  </fa-container-surface>
                </fa-header-footer-layout>
              </fa-modifier>
            </fa-view>
          </fa-app>
        </fa-surface>
      </fa-modifier>
    </fa-view>
  </fa-scroll-view>
</fa-app>