
<fa-app ng-controller="HomeCtrl">
  <fa-header-footer-layout fa-options="{headerSize: 75, footerSize: 75}">
    <fa-surface fa-background-color="'red'"> 
      <fa-app ng-controller="HomeCtrl">
        <fa-scroll-view fa-pipe-from="eventHandler" fa-options="options.scrollViewTwo" fa-start-index="1">
          <fa-view fa-index="1">
            <fa-modifier fa-size="[getPageWidth(), 320]">
              <fa-surface fa-pipe-to="eventHandler" fa-background-color="'blue'">
                <h2>I am first in html, but displayed second!</h2>
              </fa-surface>
            </fa-modifier>
          </fa-view>        
          <fa-view fa-index="0" fa-options="options.scrollViewOne">
            <fa-surface fa-pipe-to="eventHandler">
              <fa-app ng-controller="HomeCtrl">
                <fa-scroll-view fa-pipe-from="myEventHandler" fa-options="options.container">
                  <fa-view ng-repeat="view in views">
                    <fa-modifier fa-size="[getPageWidth(), 160]">
                      <fa-surface fa-background-color="view.color" fa-pipe-to="myEventHandler"></fa-surface>
                    </fa-modifier>
                  </fa-view>
                </fa-scroll-view>
              </fa-app>
            </fa-surface>
          </fa-view>
        </fa-scroll-view>
      </fa-app>
    </fa-surface>
    <fa-surface fa-background-color="'green'"> </fa-surface>
  </fa-header-footer-layout>
</fa-app>