fa-app
  fa-view(fa-index='1')
    fa-modifier(fa-size='[getPageWidth(), getPageHeight()]')
      fa-surface(fa-pipe-to='eventHandler')
        fa-app
            fa-view
              fa-modifier(fa-size='[getPageWidth(), getPageHeight()]')
                fa-header-footer-layout(fa-options='{headerSize: 50, footerSize: 50}')
                    // header
                    fa-modifier(fa-translate="boxTransitionableHeader2.get()" fa-opacity="opacityTrans2")
                      fa-surface.absolute(fa-background-color="'black'")
                    // content
                    fa-surface(fa-background-color="'white'")
                      fa-app(ng-controller='HomeCtrl')
                        fa-scroll-view#comments-scrollview(fa-pipe-from='commentsScrollHandler' fa-options='options.container')
                          fa-view(fa-size='[getPageWidth(), 700]')
                            fa-modifier(ng-repeat='comment in comments track by $index')
                              fa-surface.relative-text(fa-background-color="white" fa-size='[getPageWidth(), 100]')
                                .content(fa-pipe-to="commentsScrollHandler") 
                                  .content-text {{comment.text}}
                    // footer
                    fa-modifier(fa-translate="boxTransitionableFooter2.get()" fa-opacity="opacityTrans2" fa-size='[50,50]')
                      fa-image-surface.menu-icon(fa-size='[50,50]' fa-image-url="img/menu-ellipses-icon.png" ng-click="showRegistration()")
          
        
            fa-modifier(fa-translate="boxTransitionableRegistration.get()" fa-opacity="registrationBoxTransparency" fa-size="registrationBoxSize.get()")
              fa-surface.registration-view-background.registration-z-index
                fa-app.registration-view-background(ng-if="userNotSignedIn")
                  fa-modifier(fa-size="[getPageWidth(), 400]" fa-opacity="aboutTransparency")
                    fa-surface.registration-view-background(ng-if="about")
                      .about-container
                        .about-title Why Spotlight?
                        .about-info 
                          span Spotlight is an attempt to create a simpler social network.
                          span Spotlight is an attempt to create a simpler social network.
                          span Spotlight is an attempt to create a simpler social network.
                          span Spotlight is an attempt to create a simpler social network.
                          span Spotlight is an attempt to create a simpler social network.
                        .go-back-to-login(ng-click="closeAboutOne()") Back
                  fa-modifier(fa-size="[getPageWidth(), 400]" fa-opacity="loginTransparency")
                    fa-surface.registration-view-background(ng-if="login" fa-tap="tapEvent($event)" fa-pipe-to="archiveScrollEventHandler") 
                      .login-container
                        .title Spotlight
                        .logo
                        .login-username
                          input.account-input(type="text" ng-model="user.username" placeholder="User name")
                        .login-password
                          input.account-input(type="password" ng-model="user.password" placeholder="Password")
                        .register-surface-buttons
                          .account-login Login
                          .account-register(ng-click="showRegister()") Register
                          .question-mark(ng-click="showAboutOne($event);")
                          .go-left(ng-click="switchPage(0)")
                          .go-right(ng-click="closeRegistration()")
                  fa-modifier(fa-size="[getPageWidth(), 400]" fa-opacity="registerTransparency")             
                    fa-surface.registration-view-background(ng-if="register") 
                      .register-container
                        .slogan One person at a time
                        .register-username
                          input.account-input(type="text" ng-model="user.username" placeholder="User name")
                        .register-password
                          input.account-input(type="password" ng-model="user.password" placeholder="Password")
                        .register-password-confirmation
                          input.account-input(type="password" ng-model="user.passwordConfirmation" placeholder="Confirm Password")
                        .register-phone
                          input.account-input(type="text" ng-model="user.phone" placeholder="Phone (optional)")
                        .register-explanation * Adding your phone number enters you into the Spotlight Lottery, we will never use it for any other purpose.
                        .register-surface-buttons
                          .account-login(ng-click="showLogin()")  Login
                          .account-register(ng-click="showRegister()")  Register


                                