fa-app(ng-controller='HomeCtrl')
    fa-scroll-view#home(fa-pipe-from='eventHandler', fa-options='options.scrollViewTwo', fa-start-index='1')

        //this is the Show Archived Day View
        fa-view(fa-index='2' fa-options='options.scrollViewOne')
          fa-modifier(fa-size='[getPageWidth(), getPageHeight()]')
            fa-surface(fa-pipe-to='eventHandler')
              fa-app
                fa-view
                  fa-modifier(fa-size='[getPageWidth(), getPageHeight()]')
                    fa-header-footer-layout(fa-options='{headerSize: 50, footersize: 50}')
                        //header
                        fa-modifier(fa-translate="boxTransitionableHeader3.get()" fa-opacity="opacityTrans3")
                          fa-surface.absolute(fa-background-color="'black'")
                        //content
                        fa-surface(fa-background-color="'white'")
                          fa-app(ng-controller='HomeCtrl')
                              fa-scroll-view#day-scrollview(fa-pipe-from='dayScrollEventHandler' fa-options='options.container')
                                fa-view(ng-repeat='event in dayEvents')
                                  fa-modifier(fa-size='[getPageWidth(), 100]')
                                    fa-surface(fa-background-color='event.color', fa-pipe-to='dayScrollEventHandler')
                                      .content {{event.id}}

                        //footer
                        fa-container-surface
                          fa-modifier(fa-translate="boxTransitionableFooter3.get()" fa-opacity="opacityTrans3" fa-size='[50,50]')
                            fa-image-surface.spotlight-icon2(fa-image-url="img/menu-ellipses-icon.png" ng-click="switchPage(1)")
                          
        // this is the Main Archive View
        fa-view(fa-index='1')
          fa-modifier(fa-size='[getPageWidth(), getPageHeight()]')
            fa-surface(fa-pipe-to='eventHandler')
              fa-app
                fa-view
                  fa-modifier(fa-size='[getPageWidth(), getPageHeight()]')
                    fa-header-footer-layout(fa-options='{headerSize: 50, footerSize: 50}')
                        // header
                        fa-modifier(fa-translate="boxTransitionableHeader2.get()" fa-opacity="opacityTrans2")
                          fa-surface.absolute(fa-background-color="'black'")
                        // content
                        fa-surface(fa-background-color="'white'")
                          fa-app(ng-controller='HomeCtrl')
                              fa-scroll-view#archive-scrollview(fa-pipe-from='archiveScrollEventHandler' fa-options='options.container')
                                fa-view(ng-repeat='archive in archiveViews')
                                  fa-modifier(fa-size='[getPageWidth(), 100]')
                                    fa-surface.archive-item(fa-background-color='archive.color', fa-pipe-to='archiveScrollEventHandler')
                                     .user-name(ng-click="goToArchivedDay(archive.id)") {{archive.name}}

                        // footer
                        fa-modifier(fa-translate="boxTransitionableFooter2.get()" fa-opacity="opacityTrans2" fa-size='[50,50]')
                          fa-image-surface.spotlight-icon(fa-image-url="img/spotlight-icon-small.png" ng-click="switchPage(0)")                 

        // this is the Spotlight View         
        fa-view(fa-index='0', fa-options='options.scrollViewOne')
          fa-surface(fa-pipe-to='eventHandler')
            fa-app(onScroll="scrolling()")
                fa-view
                  fa-modifier(fa-size='[getPageWidth(), getPageHeight()]')
                    fa-header-footer-layout(fa-options='{headerSize: 50, footerSize: 50}')
                        // header
                        fa-modifier(fa-translate="boxTransitionableHeader.get()" fa-opacity="opacityTrans")
                          fa-surface.absolute(fa-background-color="'black'") Header

                        // content
                        fa-surface(fa-background-color="'gray'") 
                          fa-app(ng-controller='HomeCtrl')
                            fa-scroll-view#main-scrollview(fa-pipe-from='myEventHandler' fa-options='options.container')
                              fa-view(fa-size='[getPageWidth(), mainScrollHeight]')
                                fa-modifier(ng-repeat='view in views track by $index' fa-size='[getPageWidth(), 300]')
                                  fa-surface.relative-image(ng-if="view.image" fa-background-color="black")
                                    img.img(src="{{view.image}}" fa-pipe-to='myEventHandler')
                                  fa-surface.relative-text(ng-if="view.color" fa-background-color="white" fa-size='[getPageWidth(), 150]')
                                    .content(fa-pipe-to='myEventHandler') {{view.color}}




    
                                    
                                  

            

                        // footer
                        fa-modifier(fa-translate="boxTransitionableFooter.get()" fa-opacity="opacityTrans" fa-size='[50,50]')
                          fa-image-surface.menu-icon(fa-image-url="img/menu-ellipses-icon.png" ng-click="switchPage(1)")

