fa-app(ng-controller='HomeCtrl')
    fa-scroll-view#home(fa-pipe-from='eventHandler', fa-options='options.scrollViewTwo', fa-start-index='1')

        //- this is the Spotlight View         
        fa-view(fa-index='0', fa-options='options.scrollViewOne')
          fa-surface(fa-pipe-to='eventHandler')
            fa-app(onScroll="scrolling()")
                fa-view
                  fa-modifier(fa-size='[getPageWidth(), getPageHeight()]')
                    fa-header-footer-layout(fa-options='{headerSize: 50, footerSize: 50}')
                        //- header
                        fa-modifier(fa-translate="boxTransitionableHeader.get()" fa-opacity="opacityTrans")
                          fa-surface.absolute(fa-background-color="'black'")
                            fa-app
                              fa-image-surface.spotlight-avatar(fa-size='[50,50]' fa-image-url="img/menu-ellipses-icon.png")
                              fa-surface.spotlight-name Lilly Bloomings 

                        //- content
                        fa-surface(fa-background-color="'gray'") 
                          fa-app(ng-controller='HomeCtrl')
                            fa-scroll-view#main-scrollview(fa-pipe-from='myEventHandler' fa-options='options.container')
                              fa-view(fa-size='[getPageWidth(), mainScrollHeight]')
                                fa-modifier(ng-repeat='post in posts track by $index')
                                  fa-surface.relative-image(ng-if="post.image_url" fa-size='[getPageWidth(), 300]')
                                    .image(ng-style="{'background-image':'url({{post.image_url}})', 'height': '285px',  'width': '{{getPageWidth()}}', 'background-size': 'contain', 'background-repeat': 'no-repeat', 'background-position': 'center'}" fa-pipe-to='myEventHandler')
                                    .image-date-container(ng-hide="post.text") 
                                      .image-date -{{moment(post.created_at).format('LT')}}
                                    .image-social(ng-hide="post.text")
                                      .comments Comments {{post.comments}}
                                      .likes {{post.likes}}
                                        span.heart
                                  fa-surface.relative-text(ng-if="post.text" fa-background-color="white" fa-size='[getPageWidth(), 200]')
                                    .content(fa-pipe-to='myEventHandler') 
                                      .open-quote
                                      .content-text {{post.text}}
                                      .close-quote
                                    .content-date-container
                                      .content-date -{{moment(post.created_at).format('LT')}}
                                    .content-social
                                      .comments Comments {{post.comments}}
                                      .likes {{post.likes}}
                                        span.heart
                        // footer
                        fa-modifier(fa-translate="boxTransitionableFooter.get()" fa-opacity="opacityTrans")
                          fa-image-surface.menu-icon(fa-size='[50,50]' fa-image-url="img/menu-ellipses-icon.png" ng-click="switchPage(1)")
                          fa-surface.center-content
                            fa-app.highest-z-index
                              fa-image-surface.show-post-button(ng-if="userIsInTheSpotlight" fa-size='[70,70]' fa-image-url="img/menu-ellipses-icon.png" ng-click="openPostBox()")
            
            //- spotllight post surface
            fa-app.sliding-in-view
              fa-modifier(fa-translate="boxTransitionableSpotlightPost.get()" fa-opacity="postboxTransparency" fa-size="postboxSize.get()")
                fa-surface.post-box-background
                  //- textarea(ng-model="post.message"  placeholder="  Share something with the world." ng-style="{'width' : '100%', 'height': '{{textareaHeight()}}', 'border' : 'none', 'border-radius' : '10px', 'background': 'rgb(234, 233, 233)'}")
                  //- .new-image-area(ng-style="{'background-image':'url({{addImageUrl}})', 'height': '{{addImageHeight()}}',  'width': '{{getPageWidth()}}', 'background-size': 'contain', 'background-repeat': 'no-repeat', 'background-position': 'center', 'margin-top' : '10px'}")
                  fa-app 
                    fa-modifier(fa-translate="boxTransitionableSpotlightPost.get()" fa-opacity="postboxTransparency" fa-size="postboxSize.get()")
                      fa-surface.textbox-and-image-container
                        textarea(ng-model="post.message"  placeholder="  Share something with the world." ng-style="{'width' : '95%', 'height': '{{textareaHeight()}}', 'border' : 'none', 'border-radius' : '10px', 'background': 'rgb(234, 233, 233)', 'font-size' : '16px', 'padding' : '10px'}")
                        .new-image-area(ng-style="{'background-image':'url({{addImageUrl}})', 'height': '{{addImageHeight()}}',  'width': '{{getPageWidth()}}', 'background-size': 'contain', 'background-repeat': 'no-repeat', 'background-position': 'center', 'margin-top' : '10px'}")
                    fa-image-surface.make-post(ng-if="userIsInTheSpotlight" fa-size='[70,70]' fa-image-url="img/menu-ellipses-icon.png")
                    fa-image-surface.open-camera(ng-if="userIsInTheSpotlight" fa-size='[50, 50]' fa-image-url="img/menu-ellipses-icon.png")
                    fa-image-surface.open-albums(ng-if="userIsInTheSpotlight" fa-size='[45,45]' fa-image-url="img/menu-ellipses-icon.png")
                    fa-image-surface.spotlight-help(ng-if="userIsInTheSpotlight" fa-size='[50,50]' fa-image-url="img/menu-ellipses-icon.png" ng-click="showAccount()")
                    fa-image-surface.close-post-box(ng-if="userIsInTheSpotlight" fa-size='[45,45]' fa-image-url="img/menu-ellipses-icon.png" ng-click="closePostbox()")       
            
            //- spotlight account 
            fa-app.top-slide-in-view
              fa-modifier(fa-translate="boxTransitionableSpotlightAccount.get()" fa-opacity="accountBoxTransparency" fa-size="accountBoxSize.get()")
                fa-surface.account-box-background
                  // bio, avatar, links to facebook and twitter log out
                  .avatar-container(ng-style="{'position' : 'relative', 'height' : '80px', 'margin-top' : '-20px'}")
                    .avatar-choice(ng-style="{'position' : 'absolute', 'left' : '10%', 'height' : '70px', 'width' : '70px', 'background' : 'url({{avatar}})', 'background-size' : 'contain', 'background-repeat' : 'no-repeat', 'background-color' : 'black', 'border-radius': '100%', 'background-position' : 'center'}")
                    .change-avatar(ng-style="{'position' : 'absolute', 'top' : '20px', 'left' : '50%',  'height' : '30px', 'width' : '100px', 'border' : '2px solid black', 'text-align' : 'center', 'line-height' : '30px', 'border-radius' : '10px'}")  Replace
                  .account-inputs(ng-style="{'position' : 'relative', 'height' : '{{accountContentHeight()}}'}")
                    input(ng-style="{'padding' : '7px', 'width' : '95%', 'height' : '15%', 'margin-top' : '10px', 'background-color' : 'rgb(215, 213, 213)', 'border-radius' : '5px', 'border' : 'none', 'font-size' : '16px'}")
                    input(ng-style="{'padding' : '7px', 'width' : '95%', 'height' : '15%', 'margin-top' : '10px', 'background-color' : 'rgb(215, 213, 213)', 'border-radius' : '5px', 'border' : 'none', 'font-size' : '16px'}")
                    input(ng-style="{'padding' : '7px', 'width' : '95%', 'height' : '15%', 'margin-top' : '10px', 'background-color' : 'rgb(215, 213, 213)', 'border-radius' : '5px', 'border' : 'none', 'font-size' : '16px'}")
                    textarea(ng-style="{'padding' : '7px', 'width' : '95%', 'height' : '30%', 'margin-top' : '10px', 'background-color' : 'rgb(215, 213, 213)', 'border-radius' : '5px', 'border' : 'none', 'font-size' : '16px'}")
                  .account-options(ng-style="{'position' : 'relative', 'height' : '80px', 'margin-top' : '60px'}")
                    .go-back(ng-style="{'position' : 'absolute','width' : '44%', 'height' : '50px', 'text-align' : 'center', 'line-height' : '50px', 'border' : '2px solid black', 'border-radius' : '10px'}" ng-click="closeAccountPage()") BACK
                    .save-account(ng-style="{'position' : 'absolute', 'width' : '44%', 'height' : '50px', 'text-align' : 'center', 'line-height' : '50px', 'border' : '2px solid black', 'left' : '55%', 'border-radius' : '10px'}") SAVE
        

        //- this is the Main Archive View
        fa-view(fa-index='1')
          fa-modifier(fa-size='[getPageWidth(), getPageHeight()]')
            fa-surface(fa-pipe-to='eventHandler')
              fa-app
                fa-view
                  fa-modifier(fa-size='[getPageWidth(), getPageHeight()]')
                    fa-header-footer-layout(fa-options='{headerSize: 50, footerSize: 50}')
                        // header
                        fa-modifier(fa-translate="boxTransitionableHeader2.get()" fa-opacity="opacityTrans2")
                          fa-surface.absolute(fa-background-color="'black'")
                        // content
                        fa-surface(fa-background-color="'white'")
                          fa-app(ng-controller='HomeCtrl')
                            fa-scroll-view#archive-scrollview(fa-pipe-from='archiveScrollEventHandler' fa-options='options.container')
                              fa-view(ng-repeat='archive in archivedDays' fa-size='[getPageWidth(), archiveScrollHeight]')
                                fa-modifier(fa-size='[getPageWidth(), 100]')
                                  fa-surface.archive-item(fa-background-color='archive.color', fa-pipe-to='archiveScrollEventHandler')
                                   .user-name(ng-click="goToArchivedDay(archive.id)") {{archive.name}}
                                   .date(ng-click="goToArchivedDay(archive.id)" ng-if="archive.date") {{moment(archive.date).format('MMMM Do YYYY')}}

                        // footer
                        fa-modifier(fa-translate="boxTransitionableFooter2.get()" fa-opacity="opacityTrans2" fa-size='[50,50]')
                          fa-image-surface.spotlight-icon(fa-image-url="img/spotlight-icon-small.png" ng-click="switchPage(0)")                 


         //this is the Show Archived Day View
        fa-view(fa-index='2' fa-options='options.scrollViewOne')
          fa-modifier(fa-size='[getPageWidth(), getPageHeight()]')
            fa-surface(fa-pipe-to='eventHandler')
              fa-app
                fa-view
                  fa-modifier(fa-size='[getPageWidth(), getPageHeight()]')
                    fa-header-footer-layout(fa-options='{headerSize: 50, footersize: 50}')
                        //header
                        fa-modifier(fa-translate="boxTransitionableHeader3.get()" fa-opacity="opacityTrans3")
                          fa-surface.absolute(fa-background-color="'black'")
                        //content
    
                        fa-surface(fa-background-color="'gray'") 
                          fa-app(ng-controller='HomeCtrl')
                            fa-scroll-view#day-scrollview(fa-pipe-from='dayScrollEventHandler' fa-options='options.container')
                              fa-view(fa-size='[getPageWidth(), dayScrollHeight]')
                                fa-modifier.top-border(ng-repeat='post in archivedDayPosts track by $index')
                                  fa-surface.relative-image(ng-if="post.image_url" fa-size='[getPageWidth(), 300]')
                                    .image(ng-style="{'background-image':'url({{post.image_url}})', 'height': '285px',  'width': '{{getPageWidth()}}', 'background-size': 'contain', 'background-repeat': 'no-repeat', 'background-position': 'center'}" fa-pipe-to='dayScrollEventHandler')
                                    .image-date-container(ng-hide="post.text") 
                                      .image-date -{{moment(post.created_at).format('MMMM Do YYYY @ h:mm:ss a')}}
                                    .image-social(ng-hide="post.text")
                                      .comments Comments {{post.comments}}
                                      .likes {{post.likes}}
                                        span.heart

                                  fa-surface.relative-text(ng-if="post.text" fa-background-color="white" fa-size='[getPageWidth(), 200]')
                                    .content(fa-pipe-to='dayScrollEventHandler') 
                                      .open-quote
                                      .content-text {{post.text}}
                                      .close-quote
                                    .content-date-container
                                      .content-date - {{moment(post.created_at).format('MMMM Do YYYY @ h:mm:ss a')}}
                                    .content-social
                                      .comments Comments {{post.comments}}
                                      .likes {{post.likes}}
                                        span.heart
                        //footer
                        fa-container-surface
                          fa-modifier(fa-translate="boxTransitionableFooter3.get()" fa-opacity="opacityTrans3" fa-size='[50,50]')
                            fa-image-surface.spotlight-icon2(fa-image-url="img/menu-ellipses-icon.png" ng-click="switchPage(1)")



  


        