doctype html
html(ng-app='spotlight-famous', lang='en')
  head
    title Spotlight Famous
    meta(name='viewport', content='width=device-width, maximum-scale=1, user-scalable=no')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name="format-detection" content="telephone=no")

    // shims for backwards compatibility
    script(type='text/javascript', src='http://code.famo.us/lib/functionPrototypeBind.js')
    script(type='text/javascript', src='http://code.famo.us/lib/classList.js')
    script(type='text/javascript', src='http://code.famo.us/lib/requestAnimationFrame.js')

    //angular
    script(src='lib/angular/angular.js')
    script(src='lib/underscore/underscore.js')
    script(src='lib/angular-ui-router/release/angular-ui-router.js')
    script(src='lib/angular-touch/angular-touch.js')
    script(src='lib/ngDialog/js/ngDialog.min.js')


    //fast click
    script(src='lib/fastclick.js')

    //jquery
    script(src='lib/jquery/dist/jquery.js')

    // famous
    script(src='lib/famous/dist/famous-global.js')
    script(src='lib/famous-angular/dist/famous-angular.js')
    link(rel='stylesheet', type='text/css', href='http://code.famo.us/famous/0.3/famous.css')
    script(type='text/javascript', src='http://code.famo.us/famous/0.3/famous-global.min.js')

    // moment
    script(src='lib/moment/min/moment.min.js')

    // app code
    link(rel='stylesheet', type='text/css', href='css/app.css')
    link(rel='stylesheet', type='text/css', href='css/index.css')
    link(rel='stylesheet', type='text/css', href='css/home.css')
    link(rel='stylesheet', type='text/css', href='lib/ngDialog/css/ngDialog.css')

    script(type='text/javascript', src='js/index.js')
    script(type='text/javascript', src='js/filters.js')
    script(type='text/javascript', src='js/controllers/home-controller.js')
    script(type='text/javascript', src='js/controllers/comments-controller.js')
    script(type='text/javascript', src='js/controllers/account-controller.js')
    script(type='text/javascript', src='js/controllers/categories-controller.js')
  body
      fa-app
        ui-view(fa-animate-leave='leave($done)', fa-animate-enter='enter($done)')

