fa-app {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.full-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.absolute {
  position: absolute;
  top: 0;
  z-index: 99999;
}
.center-content {
  text-align: center ! important;
}
.menu-icon {
  position: relative;
  float: right;
  right: 15px;
  bottom: 15px;
}
.spotlight-icon {
  position: relative;
  float: left;
  left: 15px;
  bottom: 15px;
}
.show-post-button {
  left: 40%;
  bottom: 20px;
  z-index: 99999999999999999999999999999;
}
.menu-icon2 {
  right: 15px;
  bottom: 15px;
}
.spotlight-icon2 {
  left: 15px;
  bottom: 15px;
}
.archive-item {
  text-align: center;
}
.user-name {
  font-size: 30px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
}
.relative-image {
  position: relative ! important;
  background: url('../img/slash_it_white.png');
  padding: 7px;
}
.relative-text {
  position: relative ! important;
  background: url('../img/slash_it_white.png');
}
.image-date-container {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
}
.image-date {
  padding: 3px;
  margin-left: 15px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.image-social {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  color: rgba(0, 0, 0, 0.7);
  background: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.content {
  position: relative;
  padding: 3px;
}
.open-quote {
  position: absolute;
  top: 0;
  left: 5px;
  padding: 2px;
  height: 25px;
  width: 25px;
  background: url('../img/openQuote.png');
  background-size: contain;
  background-position: center;
  opacity: 0.4;
}
.content-text {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1em;
  padding: 20px;
  padding-top: 25px;
  margin-left: 10px;
  text-align: left;
}
.close-quote {
  position: absolute;
  top: 0px;
  right: 5px;
  height: 25px;
  width: 25px;
  padding: 2px;
  background: url('../img/closeQuote.png');
  background-size: contain;
  background-position: center;
  opacity: 0.4;
}
.content-date-container {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
}
.content-date {
  padding: 3px;
  margin-left: 15px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.content-social {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  color: rgba(0, 0, 0, 0.7);
  background: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.comments {
  position: absolute;
  left: 10px;
  top: 4px;
  text-decoration: underline;
  padding: 5px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.likes {
  position: absolute;
  right: 40px;
  top: 10px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.comments-text {
  position: absolute;
  left: 10px;
  top: 4px;
  text-decoration: underline;
  padding: 5px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.likes-text {
  position: absolute;
  right: 40px;
  top: 10px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.heart {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 40px;
  bottom: 2px;
  background: url('../img/heart.png');
  background-size: contain;
  background-position: center;
}
.spotlight-name {
  left: 15%;
  padding: 20px;
  width: 100% ! important;
  color: white;
}
.spotlight-avatar {
  left: 5%;
  padding: 5px;
}
.twitter {
  color: white;
  font-size: 20px;
  height: 30px ! important;
  width: 30px ! important;
  background-color: #00aced ! important;
  right: 20%;
  top: 10px;
  line-height: 30px;
  text-align: center;
  font-family: 'Helvetica Neue', 'Helvetica';
  border-radius: 100%;
}
.facebook {
  color: white;
  font-size: 20px;
  height: 30px ! important;
  width: 30px ! important;
  background-color: #3b5998 ! important;
  right: 5%;
  top: 10px;
  line-height: 30px;
  text-align: center;
  font-family: 'Helvetica Neue', 'Helvetica';
  border-radius: 100%;
}
.sliding-in-view {
  z-index: 99999999999999;
}
.top-slide-in-view {
  z-index: 999999999999999999999999999999999;
}
.winner-info-background {
  background: url('../img/slash_it_white.png');
}
.post-box-background {
  background: url('../img/slash_it_white.png');
  padding: 10%;
}
.account-box-background {
  background: url('../img/slash_it_white.png');
  padding: 10%;
}
.confirmation-dialog-background {
  background: url('../img/slash_it_white.png');
}
.post-textarea {
  background-color: white;
  width: 100%;
  height: 150px;
  z-index: 9999999999999999999999999999999999999;
}
.camera-button {
  background: blue;
  /* z-index: 999999999999999999999; */
  width: 27%;
  height: 50px;
  position: absolute;
  left: 10%;
  top: 70%;
}
.make-post {
  left: 40%;
  bottom: 70px;
  z-index: 99999999999999999999999999999;
}
.open-camera {
  left: 22%;
  bottom: 95px;
  z-index: 99999999999999999999999999999;
}
.open-albums {
  left: 7%;
  bottom: 97px;
  z-index: 99999999999999999999999999999;
}
.spotlight-help {
  left: 64%;
  bottom: 95px;
  z-index: 99999999999999999999999999999999999;
}
.close-post-box {
  left: 81%;
  bottom: 97px;
  z-index: 99999999999999999999999999999;
}
.heighest-z-index {
  z-index: 99999999999999999999999999999999999999999999;
}
.textbox-and-image-container {
  margin-top: -30px ! important;
  padding: 10px ! important;
}
.winner-social-media {
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background: url('../img/slash_it_white.png');
  padding: 10%;
}
.go-back {
  bottom: 25% ! important;
  left: 5% ! important;
}
.spotlight-time {
  bottom: 25% ! important;
  left: 35.5% ! important;
}
.save {
  bottom: 25% ! important;
  left: 66% ! important;
}
.delete-photo {
  left: 40%;
}
.change-photo-camera {
  left: 60%;
}
.change-photo-albums {
  left: 80%;
}
.flip-back {
  bottom: 22% ! important;
  left: 37% ! important;
}
.session-info-surface {
  width: 100% ! important;
  padding: 10%;
  margin-top: 10%;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}
.session-end-date {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 20px;
}
.end-session {
  border: 2px solid red;
  padding: 10px;
  border-radius: 10px;
}
.confirmation-text {
  text-align: center;
  margin-top: 40%;
  font-size: 18px;
  font-family: Helvetica Neue;
  padding: 10%;
}
.confirmation-no {
  position: absolute;
  border: 2px solid green;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  left: 30%;
  font-family: Helvetica Neue;
  margin-top: 20px;
  border-radius: 10px;
}
.confirmation-yes {
  position: absolute;
  border: 2px solid red;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  right: 30%;
  font-family: Helvetica Neue;
  margin-top: 20px;
  border-radius: 10px;
}
@media (min-width: 321px) {
  .go-back {
    bottom: 22% ! important;
    left: 5% ! important;
  }
  .spotlight-time {
    bottom: 22% ! important;
    left: 37.5% ! important;
  }
  .save {
    bottom: 22% ! important;
    left: 70% ! important;
  }
}
