.back-one-process {
  height: 50px;
  width: 50px;
  background: url('../img/left_arrow_yellow.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.social-winner-input {
  padding: 7px;
  width: 93%;
  height: 55px;
  margin-top: 10px;
  border: none;
  font-size: 16px;
  border: 1px solid #ffdc00;
}
.opt-out {
  text-align: center;
  color: #088dff;
  font-size: 14px;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}
.process-title {
  text-align: center;
  font-family: 'Helvetica Neue';
  margin-bottom: 20px;
  font-size: 20px;
  color: #088dff;
}
.tips-scroll-height {
  overflow: hidden;
}
